doctype html
html
  head
    title 文件列表
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="/javascripts/index.js")
  body
    block content
